In [1]:
print ('Hello World!')

Hello World!

In [2]:
print('Hello World')
print('Hello World again')

Hello World
Hello World again

In [3]:
print('Hello World')
Print('Hello World')

Hello World

NameError: name 'Print' is not defined

In [4]:
# This is a comment
print('One')              # This is a comment.
# print('Two')            # The interpreter ignores this line.
print('Three')            # This is
                          # also a way to
                          # write comments

One
Three

In [5]:
print("Hello world" )     # Printing "Hello World."

Hello world

In [6]:
# 20032 is a conversion factor
for age_in_thousands_of_years in range(10):
    print(age_in_thousands_of_years/20032)

0.0
4.9920127795527154e-05
9.984025559105431e-05
0.00014976038338658146
0.00019968051118210862
0.00024960063897763577
0.0002995207667731629
0.0003494408945686901
0.00039936102236421724
0.0004492811501597444

In [9]:
name = 'Batman' #Make name carry 'Batman'

In [10]:
name == 'Robin' #Tell me if name is equal to 'Batman'?

False

In [11]:
name = 'Batman'
if name == 'Batman':
    print('Hello Batman!')
else:
    print('Hello World!')

Hello Batman!

In [13]:
x = 10
print(x)

10

In [14]:
x = 10
 print(x)

IndentationError: unexpected indent (1537435392.py, line 2)

In [15]:
age=24
print(age)
print('age')

24
age

In [17]:
print('Hello') #In functions

Hello

In [18]:
(1+2)*5 #For math

15

In [20]:
py_list = [1, 2, 3, 4, 5] #A 1D list
py_list_2 = [               # A 2D list
                [1, "A"],      
                [2, "B"],
                [3, "C"],
                [4, "D"],
                [5, "E"]
            ]

In [21]:
personal_info = {
    'Names': 'Batman',
    'Real Name': 'Bruce Wayne',
    'Age': 55,
    'Affiliation': 'Justice League',
    'Universe': 'DC'
}

In [22]:
1 * ((2 - 3) + 4) ** 5 / 6

40.5

In [23]:
sqrt(4) #Will not work because basic Python is limited

NameError: name 'sqrt' is not defined

In [24]:
import math #Adding functions of 'math' package

In [25]:
math.sqrt(4)

2.0

In [26]:
import numpy as np #Importing Numpy and giving it alias np

In [27]:
np.sqrt(4)

np.float64(2.0)

In [28]:
np.sqrt([4, 9, 16])

array([2., 3., 4.])

In [29]:
math.sqrt(4)
np.sqrt(4)

np.float64(2.0)

In [30]:
"I am Batman".split()

['I', 'am', 'Batman']

In [31]:
1234.split()

SyntaxError: invalid decimal literal (3897031440.py, line 1)

In [33]:
'hahahah'.replace('ha','xy').replace('x','z')

'zyzyzyh'

In [35]:
'hahahah'.upper()

'HAHAHAH'